body {
  width: 980px;
  margin: 50px;
}
div.container {
  margin: auto;

}
img {
  width: 200px;
}
div {
  margin: 80px;
}

header {
  background-color: #CAC3C4;
  padding-bottom: 20px;
  padding-top: 20px;
}
h1 {
  font-family: 'Alan';
  font-size: 60px;
  text-align: center;
  color: #801725;
}
h2 {
  font-size: 20px;
  margin: auto 40px;
}
p {
  margin: auto 40px;
}
div.images {
  position: relative;
  width: auto;
  height: 400px;
  margin: auto;
  background-color: #247BA0;
}
